<h1>Updates feed</h1>

<section class="updates-percentage">
  <span class="updates-percentage__numbers">
    Currently <%= @filter_matches_count %>
    out of <%= @total_updates_count %> updates
  </span>
  <span class="updates-percentage__share">
    	&nbsp;(<%= @percentage %>%)&nbsp;
  </span>
  <span>
    <%= @contains_grammar %> keywords
  </span>
</section>

<section class="updates-feed">
  <% @updates.map {|update| %>
  <div class="updates-feed__container">
    <div class="updates-feed__container__date-user">
      <span><%= update.created_at %></span>
      <span><%= update.user_handle %></span>
    </div>
    <p class="updates-feed__container__message"><%= update.message %></p>
  </div>
  <% } %>
</section>