<h1>Updates feed</h1>

<section class="updates-statistics">
  <span class="updates-statistics__numbers">
    Currently <%= @filter_matches_count %>
    out of <%= @total_updates_count %> updates
  </span>
  <span class="updates-statistics__percentage">
    	&nbsp;(<%= @percentage %>%)&nbsp;
  </span>
  <span>
    <%= @contains_grammar %> keywords
  </span>
</section>

<section class="updates-feed">
  <% @updates.map {|update| %>
  <div class="updates-feed__container">
    <div class="updates-feed__container__date-user">
      <span><%= update.created_at %></span>
      <span><%= update.user_handle %></span>
    </div>
    <p class="updates-feed__container__message"><%= update.message %></p>
    
    <p class="updates-feed__container__details" hidden>
      The <b>sentiment</b> of this message is <b><%= update.sentiment %></b>
      and it was received by <b><%= update.followers%>
      <%= update.followers == 1 ? "person" : "people" %></b>
    </p>

  </div>
  <% } %>
</section>